.fw_n {
  font-weight: $fw-n;
}
.fw_b,
b,
strong {
  font-weight: $fw-b;
}

.pad_v {
  padding-top: $pad-v;
  padding-bottom: $pad-v;
}
.pad_h {
  padding-left: $pad-h;
  padding-right: $pad-h;
}
.pad_b {
  padding: $pad-b;
}

.pos_r {
  position: relative;
}
.pos_a {
  position: absolute;
}
.pos_f {
  position: fixed;
}

.olap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.scroll {
  overflow: auto;
}

.brand_icon {
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px -6px #0005;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand_icon:hover {
  transform: translateY(-10%);
}
.icon_32 {
  width: 32px;
  height: 32px;
  padding: 8px;
}
.icon_48 {
  width: 48px;
  height: 48px;
  padding: 12px;
}
.icon_64 {
  width: 64px;
  height: 64px;
  padding: 16px;
}
.icon_80 {
  width: 80px;
  height: 80px;
  padding: 20px;
}
.icon_96 {
  width: 96px;
  height: 96px;
  padding: 24px;
}

.det {
  transition: 0s;
}
.det.hid {
  transform: scale(0) !important;
}

.stretch_in.hid {
  transform: scaleX(0.75) scaleY(0.5);
}
.stretch_out.hid {
  transform: scaleX(1.5) scaleY(1.25);
}

.zoom_in.hid {
  transform: scale(1.25);
}
.zoom_out.hid {
  transform: scale(0.75);
}

.slide_up.hid {
  transform: translateY(-15%);
}
.slide_down.hid {
  transform: translateY(15%);
}

.hid:not(.det) {
  opacity: 0;
  visibility: hidden;
}
